@inherits LayoutComponentBase

<div class="flex h-screen bg-background overflow-hidden">
    <NavMenu />
    <div class="flex flex-1 flex-col ml-64 min-w-0 overflow-hidden">
        @Body
    </div>
</div>
